*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(135deg, #1a0000, #3d0000, #121212);
    min-height: 100vh;
}

#glava{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 80%;
    max-width: 1800px;
    height: 10vh;
    margin: 0 auto;
    backdrop-filter: blur(8px);
    border-radius: 25px;
    color: #f5f5f5;
    font-weight: bolder;
}

#glava ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

#nav_1, #nav_2, #nav_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#nav_2{
    flex-direction: column;
}

#nav_2 span{
    display: flex;
    gap: 10px;    
}

#glava ul li a{
    gap: 20px;
    text-decoration: none;
}

#glava h1{
  font-size: clamp(1.2rem, 4vw, 2.2rem);
}

#glava p,
#glava a{
  font-size: clamp(0.7rem, 1.8vw, 1rem);
}

.glava_gumb{
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    color: #f5f5f5;
}

.glava_gumb:hover{
    box-shadow: 0 0 20px #f5f5f5;
    color: #000000;
    background-color: #f5f5f5;
}